@{
    ViewBag.Title = "Musicas";
}

<!-- Upload Row -->
<div class="row">
    <div class="col-lg-12">
        <div id="dragandrophandler" class="col-lg-12">Arraste e solte sua música aqui!</div>
        <div id="status1"></div>
    </div>
</div>
<!-- Music Row -->
<div class="row">
    <div class="col-lg-12">
        <button id="btnTodos" class="btn btn-warning" data-ng-click="todos()">Todos</button>
        <button id="btnGenero" class="btn btn-warning"data-ng-click="genero()">Gênero</button>
        <button id="btnArtista" class="btn btn-warning" data-ng-click="artista()">Artista</button>
        <button id="btnAlbum" class="btn btn-warning" data-ng-click="album()">Álbum</button>
        <hr />
    </div>
    <div id="resultado">
        <div class="col-lg-4 col-sm-6 text-center" data-ng-repeat="item in midialist">
            <img class="img-circle" data-ng-src="data:image/png;base64,{{item.Capa}}" data-err-src="" alt="">
            <h3>
                <small>{{item.Numero}}</small>
                {{item.Titulo}}
            </h3>
            <p>
                <small>Artista</small>
                {{item.Artista}}
            </p>
            <p>
                <small>Álbum</small>
                {{item.Album}}
            </p>
            <p>
                <small>Gênero</small>
                {{item.Genero}}
            </p>
            <p>
                <small>Ano</small>
                {{item.Ano}}
            </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center" data-ng-repeat="item in generolist">
            <img class="img-circle" src="/Imagens/genero.png" alt="">
            <h3>
                <small>Gênero</small>
                {{item.nomeGenero}} 
            </h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center" data-ng-repeat="item in artistalist">
            <img class="img-circle" src="/Imagens/artista.png" alt="">
            <h3>
                <small>Artista</small>
                {{item.nome}}
            </h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center" data-ng-repeat="item in albumlist">
            <img class="img-circle" data-ng-src="data:image/png;base64,{{item.capa}}" data-err-src="" alt="">
            <h3>
                <small>álbum</small>
                {{item.nome}}
            </h3>
        </div>
    </div>
</div>
<hr>

@section scripts{
<script>
function sendFileToServer(formData, status, obj) {
    apiUrl = "http://localhost:1916/";
    var uploadURL = apiUrl + "api/midiaUpload"; //Upload URL
    var extraData = {}; //Extra Data.
    var jqXHR = $.ajax({
        xhr: function () {
            var xhrobj = $.ajaxSettings.xhr();
            if (xhrobj.upload) {
                xhrobj.upload.addEventListener('progress', function (event) {
                    var percent = 0;
                    var position = event.loaded || event.position;
                    var total = event.total;
                    if (event.lengthComputable) {
                        percent = Math.ceil(position / total * 100);
                    }
                    //Set progress
                    status.setProgress(percent);
                }, false);
            }
            return xhrobj;
        },
        url: uploadURL,
        type: "POST",
        contentType: false,
        processData: false,
        cache: false,
        data: formData,
        success: function (data) {
            status.setProgress(100);
            $("#status1").html("Upload concluído - Clique em uma das categorias para atualizar.");
        }
    });

    status.setAbort(jqXHR);
}

var rowCount = 0;
function createStatusbar(obj) {
    rowCount++;
    var row = "odd";
    if (rowCount % 2 == 0) row = "even";
    this.statusbar = $("<div id='upload" + rowCount + "' class='statusbar " + row + "'></div>");
    this.filename = $("<div class='filename'></div>").appendTo(this.statusbar);
    this.size = $("<div class='filesize'></div>").appendTo(this.statusbar);
    this.progressBar = $("<div class='progressBar'><div></div></div>").appendTo(this.statusbar);
    this.abort = $("<div class='abort'>Cancelar</div>").appendTo(this.statusbar);
    obj.after(this.statusbar);

    this.setFileNameSize = function (name, size) {
        var sizeStr = "";
        var sizeKB = size / 1024;
        if (parseInt(sizeKB) > 1024) {
            var sizeMB = sizeKB / 1024;
            sizeStr = sizeMB.toFixed(2) + " MB";
        }
        else {
            sizeStr = sizeKB.toFixed(2) + " KB";
        }

        this.filename.html(name);
        this.size.html(sizeStr);
    }
    this.setProgress = function (progress) {
        var sb = this.statusbar;
        var progressBarWidth = progress * this.progressBar.width() / 100;
        this.progressBar.find('div').animate({ width: progressBarWidth }, 10).html(progress + "% ");
        if (parseInt(progress) >= 100) {
            this.abort.hide();
            sb.hide();
        }
    }
    this.setAbort = function (jqxhr) {
        var sb = this.statusbar;
        this.abort.click(function () {
            jqxhr.abort();
            sb.hide();
        });
    }
}
function handleFileUpload(files, obj) {
    for (var i = 0; i < files.length; i++) {
        var fd = new FormData();
        fd.append('file', files[i]);

        var status = new createStatusbar(obj);
        status.setFileNameSize(files[i].name, files[i].size);
        sendFileToServer(fd, status, obj);

    }
}
$(document).ready(function () {
    var obj = $("#dragandrophandler");
    obj.on('dragenter', function (e) {
        e.stopPropagation();
        e.preventDefault();
        $(this).css('border', '2px solid #0B85A1');
    });
    obj.on('dragover', function (e) {
        e.stopPropagation();
        e.preventDefault();
    });
    obj.on('drop', function (e) {

        $(this).css('border', '2px dotted #0B85A1');
        e.preventDefault();
        var files = e.originalEvent.dataTransfer.files;

        handleFileUpload(files, obj);
    });
    $(document).on('dragenter', function (e) {
        e.stopPropagation();
        e.preventDefault();
    });
    $(document).on('dragover', function (e) {
        e.stopPropagation();
        e.preventDefault();
        obj.css('border', '2px dotted #0B85A1');
    });
    $(document).on('drop', function (e) {
        e.stopPropagation();
        e.preventDefault();
    });

});
</script>
}